<div class="container-fluid bg-light p-4">
  <div class="text-center mb-4">
    <h1>DuelScore</h1>
  </div>

  <div class="row mb-4">
    <div class="col-md-2 d-flex justify-content-center">
      <button class="btn btn-outline-secondary" (click)="undo()">Undo</button>
    </div>
    <div class="col-md-8">
      <div class="row mb-2">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Team Name" [(ngModel)]="team1Name">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" [value]="team1Score" readonly>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <button class="btn btn-danger btn-lg" (click)="updateScore(1, -5)" style="background-color: darkred;">-5 pts</button>
        </div>
        <div class="col">
          <button class="btn btn-success btn-lg" (click)="updateScore(1, 10)" style="background-color: green;">+10 pts</button>
        </div>
        <div class="col">
          <button class="btn btn-warning btn-lg" (click)="updateScore(1, 15)" style="background-color: yellow;">+15 pts</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-2 d-flex justify-content-center">
    </div>
    <div class="col-md-8">
      <div class="row mb-2">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Team Name" [(ngModel)]="team2Name">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" [value]="team2Score" readonly>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <button class="btn btn-danger btn-lg" (click)="updateScore(2, -5)" style="background-color: darkred;">-5 pts</button>
        </div>
        <div class="col">
          <button class="btn btn-success btn-lg" (click)="updateScore(2, 10)" style="background-color: green;">+10 pts</button>
        </div>
        <div class="col">
          <button class="btn btn-warning btn-lg" (click)="updateScore(2, 15)" style="background-color: yellow;">+15 pts</button>
        </div>
      </div>
    </div>
  </div>
</div>
